<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalc" />
                <binding name="BasicHttpBinding_IBroker" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23158/Calc.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalc" contract="Server.ICalc"
                name="BasicHttpBinding_ICalc" />
            <endpoint address="http://localhost:23277/Broker.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBroker" contract="Brokers.IBroker"
                name="BasicHttpBinding_IBroker" />
        </client>
    </system.serviceModel>
</configuration>